<!DOCTYPE html>
<html>
<head>
	<title>Welcome to {{ virtual_domain_name }}!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to {{ virtual_domain_name }}!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working on Debian.</p>

<p> This page should only be available over HTTPS.</p>

</body>
</html>
