server {

    listen 80;
	listen [::]:80;
    server_name {{ virtual_domain_name }};
    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl http2;
	listen [::]:443 ssl http2;
    server_name {{ virtual_domain_name }};

{% for ld in letsencrypt_domains %}
{% if virtual_domain_name in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    root /var/www/{{ virtual_domain_name }};

    index index.html

    add_header Content-Security-Policy "default-src 'self'; object-src 'none'; frame-ancestors 'self'; base-uri 'none';" always;
    add_header Referrer-Policy "same-origin" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Download-Options noopen always;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Permitted-Cross-Domain-Policies "none" always;
    add_header X-Robots-Tag none;
    add_header X-XSS-Protection "1; mode=block" always;
    #add_header Strict-Transport-Security "max-age=15768000; includeSubDomains;" always;

	location / {
        default_type text/plain;
        return 200 "$remote_addr";
	}

	location ~ /\.ht {
		deny all;
	}
}

